{% extends 'base/base.html' %}
{% load staticfiles %}
{% block nav_bar_content %}
    <div class="w3_login">
        <h3>Sign In & Sign Up</h3>
        <div class="w3_login_module">
            <div class="module form-module">
                <div class="form">
                </div>
                <div class="form">
                    <h2>Login to your account</h2>
                    <form action="#" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body_content %}

{% endblock %}